body {
    background-color: #c4c4c4;
    font-family: sans-serif;
}

#main {
    display: flex;
    flex-flow: row wrap;
    margin: 0 4vw 1vw 4vw
}

.day {
    width: 27vw;
    border-radius: 50px;
    background-color: white;
    padding: 1% 1% 0 1%;
    display: none;
    text-align: center;
    margin: 0 0.5vw;
    height: auto;
}


#current {
    display: inline-block;
}

.visible {
    display: inline-block;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 1% 0;
}

h2 {
    margin: 0 10%;
    font-size: x-large;
    height: auto;
}

footer {
    text-align: center;
    background: white;
    border-radius: 50px;
    padding: 1rem;
    width: 40%;
    margin: 0 30%;
}

.arrow {
    width: 3vw;
    position: absolute;
    bottom: 50vh;
    margin: 0 0.5vw
}

#left {
    left: 0;
}

#right {
    right: 0;
}

.hidden {
    background-color: #c4c4c4;
}

@media only screen and (orientation: portrait) {
    .visible {
      display: none;
    }
    #current {
        width: 90vw;
        margin: 0 5vw;
        padding: 1%;
    }

    footer {
        width: 80vw;
        margin: 0 auto;
    }
}

/* Darkmode stuff */

.darkmode .day, .darkmode footer {
    background-color: #d3d3d3;
}

.darkmode, .darkmode .hidden {
    background-color: #515151;
}
