body {
    background-color: #c4c4c4;
    font-family: sans-serif;
}

.surround {
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 50px;
    padding: 0.5em 1em 1em;
    width: 95%;
    margin: 2em auto;
}

.stations {
    margin: 0 10%;
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
}

.station {
    margin: 0 auto;
}

.station {
    border: solid;
    padding: 1em 2em;
    margin: 2%;
    border-radius: 50px;
    flex: auto;
}

.station ul {
    list-style-type: none;
    padding: 0;

    font-size: 125%;
    line-height: 2;
}

.dots {
    display: inline-block;
}

.dot {
    vertical-align: middle;
}

nav {
    padding: 1em;
    border-radius: 50px;
    width: 60%;
    margin: 0 auto 2em;
    background-color: #FFFFFF;
    text-align: center;
}

nav ol {
    list-style-type: none;
    padding-left: 0;
    margin: auto;
}

nav li {
    display: inline-block;
}

nav a::after {
    display: inline-block;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}

footer {
    text-align: center;
    background: white;
    border-radius: 50px;
    padding: 1rem;
    width: 40%;
    margin: 0 auto;
}

@media (max-width: 500px) {
    .stations {
        margin: 0 2%;
    }
    
    nav, footer {
        width: 95% !important;
    }
}