<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
{% macro genDay(date, menu_data) %}
<div class="surround">
    <h2>{{datetime.strptime(date, '%Y-%m-%d').strftime('%A, %B %d, %Y')}}</h2>
    <div class="stations">
        {% for meal, stations in menu_data.items() %}
            {% if stations | length == 1 %}
                {{genStation(meal, -1, (stations.values()|list)[0] )}}
            {% else %}
                {% for station_number, menu_items in stations.items() %}
                    {{genStation(meal, station_number|int, menu_items)}}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
</div>
{%- endmacro %}
{% macro genStation(meal_title_number, station_title_number, menu_items) %}
<div class="station">
    <h2>{{ titles[meal_title_number|int] }}{{': ' + STATION_TITLES[station_title_number] if station_title_number >= 0 else ''}}</h2>
    <ul>
    {% for i in menu_items|sort(attribute='card') %}
        <li>
            {{genDots(i.dot)}} {{ i['name'].replace('&amp;', '&') }}</li>
    {% endfor %}
    </ul>
</div>
{%- endmacro %}
{% macro genDots(dot_number) %}
    <span class="dots">
        {% for i in DOT_TO_COLORS[dot_number] %}
            <img class="dot" src="{{ url_for('static', filename='circles/'+i+'.svg') }}" alt="A {{i}} circle">
        {% endfor %}
    </span>
{%- endmacro %}
<body>
<!---<nav>
{# A dynamic navigation bar #}
    <ol>
        {% if url_for('index') != '/' %}
            <li><a href="/">Home</a></li>
        {% endif %}
        <li>Menu</li>
    </ol>
</nav>
--->
<main>
    {% for date, value in menu_data.items() %}
        {{ genDay(date, value) }}
    {% endfor %}
</main>
<!-- <div class="surround">
    <h1>Wednesday, September 3rd, 2019</h1>
    <div class="stations">
        <div class="station">
            <h2>Brakfast</h2>
            <ul>
                <li>Classic Scrambled Eggs</li>
                <li>Oatmeal</li>
                <li>Grilled Hash Browns</li>
                <li>Grilled Breakfast Ham</li>
            </ul>
        </div>
        <div class="double-station">
            <div class="station">
                <h2>Lunch: Stock Exchange</h2>
                <ul>
                    <li>Hearty Corn & Bacon Chowder</li>
                </ul>
            </div>
            <div class="station">
                <h2>Lunch: Improvisations</h2>
                <ul>
                    <li>Build-Your-Own House Salad</li>
                </ul>
            </div>
        </div>

        <div class="station">
            <h2>Lunch: Improvisations</h2>
            <ul>
                <li>Build-Your-Own House Salad</li>
            </ul>
        </div>

        <div class="station">
            <h2>Lunch: Main Ingredient</h2>
            <ul>
                <li>Build-Your-Own House Salad</li>
            </ul>
        </div>
        <div class="station">
            <h2>Lunch</h2>
            <ul>
                <li>Yes</li>
            </ul>
        </div>
        <div class="station">
                <h2>Lunch: Mangia</h2>
                <ul>
                    <li>Pizza</li>
                </ul>
            </div>
    </div>
</div> -->
<footer>
    Source code available at <a href="https://github.com/katzrkool/menu">Github</a>. <a href="https://github.com/katzrkool/menu/blob/master/LICENSE">Project License</a></p>
</footer>
</body>
</html>